<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="CSS/design.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="header">
<h1 style="color:white">signup</h1>
<div id="home"><a href="index.html"><img src="home.jpg" height="50px" width="50px"></a></div>
</div>
<br>
<div>
<img src="backgnd1.jpg" class="loginimg">
</div>
<div class="form2">
<form action="/signup" target="_self" method="POST">
<label for="username">username</label>
<input type="text" name="username" required>
<br>
<label for="address">address</label>
<br>
<textarea name="address" rows="3" cols="10" required></textarea>
<br>
<label for="phone">phone number</label>
<input type="tel" name="phone"  placeholder="91-1234-5678" required>
<br>
<label for="email">email id</label>
<input type="email" name="email" required>
<br>
<label for="password">password</label>
<input type="password" name="password" required>
<input type="submit" value="signup">
</form>
</div>
<div class="footer">
 <h2 >Get In Touch</h2>
 <a href="mailto:ayushi.mishraam16@email.com"><h2>E-mail</h2></a></p>
 </div>
</body>
</html>