<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>volunteer</title>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Life+Savers:wght@700&family=Montserrat&family=Roboto+Slab:wght@900&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&family=Montserrat&family=Open+Sans&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">
  </head>
  <body>
      <header></header>

            <main>
                <% if (volunteers.length <= 0) { %>
                    <h1>Nothing there!</h1>
                <% } else { %>
                  <div class="css-selector">
                    <ul class="orders">
                        <% volunteers.forEach(v => { %>
                            <li class="orders__item">
                                <h1>Volunteer - # <%= v._id %> - <a href="/volunteers/<%= v._id %>"></a></h1>
                                <ul>
                                    <h3>Name: <%=v.name%></h3>
                                    <h3>Phone: <%=v.phone%></h3>
                                    <h3>City: <%=v.city%></h3>
                                </ul>
                            </li>
                        <% }); %>
                    </ul>
                    </div>
                <% } %>
            </main>
        <footer></footer>
      </body>
    </html>
