
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>login</h1>
<br>

<form id="f2" action="/donate" target="_self" method="POST">
<label for="name">name</label>
<input type="text" name="name" required>
<br>
<label for="city">city</label>
<input type="text" name="city" required>
<br>
<label for="phone">phone number</label>
<input type="tel" name="phone"  placeholder="91-1234-5678" required>
<br>
<label for="qty">qty</label>
<input type="number" name="qty" required>
<br>
<input type="submit" value="donate">
</form>
</body>
</html>