<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Life+Savers:wght@700&family=Montserrat&family=Roboto+Slab:wght@900&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&family=Montserrat&family=Open+Sans&family=Sacramento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ac51c817fa.js" crossorigin="anonymous"></script>
  </head>
  <body>


    <div class="top">
      <section id="title">
        <div class="css-selector">
          <div class="container-fluid">

            <nav class="navbar  navbar-expand-lg navbar-dark">
              <a class="navbar-brand" href=""></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="topnav">
                  <!-- <a  href="#p">About me</a> -->
                  <a href="signup">Sign Up</a>
                  <a href="login">Sign In</a>
                  <a href=>Donate</a>
                </div>

              </div>
            </nav>
            </div>

            <div class="Middle">
              <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example" action="/">
  <input type="text" placeholder="Search for your city..." name="search">
  <button class="buttondesign" type="submit"><i class="fa fa-search"></i></button>
</form>
  </div>


          <section id=Fbank>
            <h2 class="D">Foodbank Service</h2>
            <i class="fas fa-seedling fa-3x heart"></i>
            <p>Hello!</p>
            <p>Welcome to Foodbank Service, we help in donating food to the less priviledged. Our aim is to ultimately eradicate the problem of hunger from our society. Join us in this mission, sign up and donate! :)</p>

          </section>

       <div class="con">
          <br>
          <section id="contact">
            <div class="contact-me">
              <h2 class="Di">Get In Touch</h2>

              <!-- <p>To help me grow, reach out to me here:</p> -->
              <p class="ww"><button class="btn"><a href="mailto:ayushi.mishraam16@email.com">E-mail</button></a></p>
            </div>
        </div>
        <br>
</div>

          <!-- <a class="footer-link" href="https://www.linkedin.com/"><img class="link" src="images/linkedin.png" alt="linkedin logo"></a>
          <a class="footer-link" href="https://www.instagram.com/iyoushe_20/?hl=en"><img class="inst" src="images/instagram.png" alt="instagram logo"></a>
          <a class="footer-link" href="https://twitter.com/ayu_mishra20"><img class="twiit" src="images/twitter.png" alt="twitter logo"></a> -->
          <p class="last">© 2020 Foodbank Service</p>

        </body>

</html>
