<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>volunteer</h1>

<form action="/volunteer" target="_self" method="POST">
<label for="name">name</label>
<input type="text" name="name" required>
<br>
<label for="phone">phone number</label>
<input type="tel" name="phone"  placeholder="91-1234-5678" required>
<br>
<label for="city">Area of scarcity</label>
<br>
<textarea name="city" required></textarea>
<br>
<input type="submit" value="donate">
</form> 
</body>
</html>